<a href="https://colab.research.google.com/github/ElizangelaStudent/L-GICA-DE-PROGRAMA-O-I-PY-/blob/main/Aula_4_La%C3%A7os_de_repeti%C3%A7%C3%A3o_(FOR).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Laços de repetição (FOR)**

![info](https://drive.google.com/uc?export=view&id=1LzoVL5aaY8vRdltguyO49fWG-jg_IoEy)

###O for é utilizado para percorrer ou iterar sobre uma sequência de dados (seja esse uma lista, uma tupla, uma string), executando um conjunto de instruções em cada item.

>Como você já sabe, o Python utiliza identação para separar blocos de código: nos loops utilizando for não é diferente.

>Sua sintaxe básica é: for <nome variável> in <iterável>. Vamos entender:

><nome variável> é o nome da variável que vai receber os elemento de <iterável>.
<iterável> é o container de dados sobre o qual vamos iterar, podendo ser: uma lista, uma tupla, uma string, um dicionário, entre outros.


For <variável> in <coleção iterável>:
    #  Bloco de código que deve se repetir

###Para entender melhor como esse laço funciona, veja alguns exemplos abaixo.

###**Exemplo 1**
for letra in ['a', 'b', 'c', 'd']:  #  Iterando sobre uma lista
    print(letra)

###**Exemplo 2**
for letra in 'texto':  #  Iterando sobre uma string
    print(letra)

###**Exemplo 3 – Cálculo de Fatorial**

###**Multiplicar um número n por todos os números de 1 a (n-1)**
n = int(input('Digite um número:'))
fatorial = 1

for x in range(n):  #  range() produz n números, de 0 a n-1
    fatorial *= x + 1

print(fatorial)
C

###Antes de explicar essa sintaxe em detalhes, é importante falar sobre a maneira como esse tipo de laço funciona em Python, que é diferente de como ele funciona em outras linguagens.

###Na maioria das linguagens de programação baseadas em C, o laço for é executado sobre uma sequência de números inteiros.

###A variável declarada no laço funciona como um contador que indica o número da iteração que está sendo executada.

###Além disso, o for também inclui a condição lógica para que o laço termine e o incremento da variável.

###A forma de controlar o laço for é diferente em Python.Em Python, o laço for é executado sobre uma coleção de objetos.

###Isso significa que é possível iterar sobre diversos tipos de objetos e não apenas sobre números inteiros, como você viu nos exemplos no início dessa seção.

###A única restrição é que essa coleção de objetos precisa ser iterável.

###**E o que isso significa?**

###Um iterável (iterable) é um tipo de objeto que, quando passado para a função embutida iter(), retorna um iterator.Parece complicado, ainda mais com todos esses nomes tão parecidos, mas é bem simples.

###Um iterator é objeto que representa um fluxo de dados. Ele é o responsável por dividir o iterável e retornar cada um dos seus elementos.

###Tem três tipos de objetos são iteráveis, assim como tuplas, dicionários e conjuntos: a lista, um string e o range.Na prática, quase todos os tipos de objetos em Python são iteráveis.Isso quer dizer que você pode passar qualquer objeto desses tipos para um laço for e iterar sobre os seus elementos.Agora que você já entendeu como funcionam os objetos iteráveis, fica mais fácil entender a sintaxe do laço for.

###**RANGE**

####Range(start, stop, step): O range é uma classe iterável. É um tanto semelhante a uma lista, mas com a diferença de que diferentemente de uma lista propriamente dita, os valores intermediários não são armazenados na memória, sendo então calculados a medida que ela for iterada com base no valor do step (que por padrão é 1)


- **start**: Opcional. Número inteiro que indica início da sequência. Padrão é 0
- **stop**: Obrigatório. Número inteiro que indica fim da sequência. (não incluso).
- **step**: Opcional. Número inteiro que indica incremento da sequência. Padrão é 1

###**Sintaxe do FOR**

for variavel in sequencia:
    # bloco de código

In [ ]:
for i in range(11): # range(11)
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
cont = 0
while cont<=10:
    print(cont)
    cont += 1

0
1
2
3
4
5
6
7
8
9
10

###**Faça uma tabuada de multiplicação de um número inteiro, conforme o exemplo abaixo, utilizando o FOR:**

5 X 1 = 5

5 X 2 = 10

5 X 3 = 15

5 X 4 = 20

5 X 5 = 25

5 X 6 = 30

5 X 7 = 35

5 X 8 = 40

5 X 9 = 45

5 X 10 = 50

In [ ]:
#Exemplo 1

print(f"Tabuada de mutiplicação\n")

numero = int(input('Informe o numero que você deseja realizar a tabuada:'))

for i in range(1,11):
  print(f"{numero}x{i} = {numero*i}")

Tabuada de mutiplicação

Informe o numero que você deseja realizar a tabuada:2
2x1 = 2
2x2 = 4
2x3 = 6
2x4 = 8
2x5 = 10
2x6 = 12
2x7 = 14
2x8 = 16
2x9 = 18
2x10 = 20

In [ ]:
#Exemplo 2

n = int(input("Digite um número:"))

for i in range(11):
  tab = n*i
  print(f"{n} x {i} = {tab}")

Digite um número:2
2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

###**Programa que receba uma palavra e imprima a quantidade de vogais e consoantes, utilizando o FOR.**

In [ ]:
#Exemplo 1

palavra = input('Digite uma palavra: ')

vogais = 0
consoantes = 0

for i in palavra:
    if i in 'aeiouAEIOU':
        vogais += 1
    else:
        consoantes +=1
        
print(f'A palavra {palavra} tem {vogais} vogais e {consoantes} consoantes')

Digite uma palavra: Ana
A palavra Ana tem 2 vogais e 1 consoantes

In [ ]:
#Exemplo 2

palavra = input("Digite uma palavra:")

vogal = 0
consoante = 0

for i in palavra:
    # i = 'oueia'
  if i == 'a' or i == 'e' or i == 'i' or i == 'o' or i =='u':
    vogal += 1
  else:
    consoante += 1

print(f"A quantidade de vogais é {vogal}")
print(f"A quantidade de consoantes é {consoante}")

Digite uma palavra:Ana
A quantidade de vogais é 1
A quantidade de consoantes é 2

##**Exercícios**

##**Desenvolva um programa, utilizando um loop, a seguinte sequência numérica:**

In [ ]:
30
37
44
51
58
65
72
79
86

In [ ]:
#Exemplo 1

numero=30

while numero >=30 and numero<90:
      print(numero)
      numero += 7

30
37
44
51
58
65
72
79
86

In [ ]:
#Exemplo 2

for i in range (30,87,7):
  print (i)

30
37
44
51
58
65
72
79
86

In [ ]:
#Exemplo 3
num = 30
soma = 0
for i in range(9):
  print(num + soma)
  soma += 7

30
37
44
51
58
65
72
79
86

###**Desenvolva um programa que receba um número de linhas e em seguida imprima a sequência de caracteres da seguinte forma:**
* 
* * 
* * * 
* * * * 
* * * * *
DICA: pesquise sobre impressão de valores em horizontal.

In [ ]:
#Exemplo 1

num = int(input('Digite a quantidade de linhas: '))

for i in range(num+1):
    print(i*' *')

Digite a quantidade de linhas: 3

 *
 * *
 * * *

In [ ]:
#Exemplo 2

linhas = int(input('Digite um número de linhas: '))
for i in range(linhas):
  print('* '* (i+1))

Digite um número de linhas: 4
*
* *
* * *
* * * *

In [ ]:
#Exemplo 3

linhas = int(input("Insira um número: "))
caracter = "* "

for i in range (1, linhas+1):
   print(i* caracter)

Insira um número: 4
*
* *
* * *
* * * *