<a href="https://colab.research.google.com/github/ElizangelaStudent/L-GICA-DE-PROGRAMA-O-I-PY-/blob/main/Aula_1_tipos%2C_variaveis%2C_leitura_de_dados%2C_palavras_reservadas%2C_mudan%C3%A7as_de_tipos_e_opera%C3%A7%C3%B5es_aritmeticas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Tipos, variaveis, leitura de dados, palavras reservadas, mudanças de tipos e operações aritmeticas**

##**Variáveis**

###Em nossos programas, frequentemente precisaremos armazenar dados temporariamente. Esses dados podem ser adquiridos de alguma maneira (digitados pelo teclado, lidos de um arquivo etc.) ou calculados pelo nosso programa com base em outros dados. Imagine, por exemplo, que você gostaria de calcular a média de um aluno a partir de suas notas. Precisaremos que o aluno digite suas notas, e o programa irá calcular um novo valor, a média. Armazenaremos nossos dados temporariamente em variáveis.

###Variáveis são "pedacinhos de memória" onde guardamos dados. Sempre que referenciamos o nome, o pedacinho de memória é acessado e seu dado é recuperado.

###Criamos variáveis dando um nome a elas e usando o operador de atribuição (o sinal de igualdade: =) para atribuir um valor inicial.

###No exemplo acima, foi criada uma variável chamada x que guarda o valor 10. Ou seja, reservamos um pedacinho de memória e guardamos o número 10 lá.

###Tente sempre utilizar nomes intuitivos para suas variáveis. O nome deveria ser uma boa descrição do dado que a variável guarda. Nomes como 'x', 'y', 'z', 'a', 'b', 'c', 'a1', 'a2', 'a3' etc. podem se tornar bastante confusos quando nossos códigos são muito grandes. Quanto mais descritivos os nomes forem, melhor.

###Os nomes de variáveis podem conter letras, números e o símbolo _, mas eles não podem começar com número.

###Dica: existe uma grande variedade de padrões diferentes que podemos adotar para nomear nossas variáveis. Em Python é recomendável utilizar o padrão conhecido como snake case, em que nomes de variáveis com múltiplas palavras adotam o símbolo _ para separar as palavras. Exemplos: nome_completo, nota_da_prova etc.

In [ ]:
x = 10

x

10

###**Tipos Primitivos**

###Variáveis podem ter diferentes tipos. Alguns tipos são considerados tipos primitivos, ou seja, eles são tipos de dados mais básicos que podem ser utilizados para compor outros tipos mais complexos. Em Python esses tipos levam os seguintes nomes:

- **int:** números inteiros, ou seja, números sem parte decimal: 0, 5, -1, 1000
- **float**: números reais, ou seja, números com parte decimal: 1.0, -2.7, 3.14
-**str**: cadeias de caracteres (strings), ou seja, dados textuais: 'Olá Mundo!', "eu tenho 18 anos"
- **bool:** valores lógicos (booleanos), ou seja, apenas um entre dois valores possíveis: True ou False

In [ ]:
nome = 'Zé' # uma variável do tipo string - note as aspas
email = "ze@letscode.com.br" # outra string
idade = 22 # uma variável inteira
salario = 5999.85 # uma variável float - usamos ponto, não vírgula
receber_newsletter = True # uma variável bool

###O Python é uma linguagem dinamicamente tipada. Isso significa que não precisamos especificar o tipo de uma variável: a própria linguagem tenta determinar o tipo de acordo com o dado atribuído à variável.

####**Veja outros exemplos abaixo:**

In [ ]:
#tipos inteiros (int)

x= 10
type(x)

int

In [ ]:
#tipos real(float)

x = 10.5
type(x)

float

In [ ]:
#tipo literal(str)

x = "Elizangela"
type(x)

str

In [ ]:
# tipo booleano(false ou true)
a = 2
b = 5 
type(a>b)

bool

# **Variaveis**

 - Camel Case( utilizado para Classes e módulos)
pegarValorUltimoDiaMes = 30

 - Snake case( utilizado para Variáveis, Funções)
pegar_valor_ultimo_dia_mes = 31




**Recomendações nomes de variáveis**
- Variáveis com nomes descritivos
- Não usar palavras reservadas
- Não usar espaços, vírgula entre nomes compostos de variáveis
- Não iniciar nomes de variáveis com números
- Não iniciar nomes de variáveis com operadores


# **palavras reservadas**
help('keywords'): São palavras pre definidas.

##**Leitura de dados**

###A leitura de dados é nada mais que as **Entradas**.Assim como temos dados de saída - dados gerados pelo código e fornecidos para o usuário - também temos dados de entrada: informações que o usuário possui e deve fornecer ao código. Para receber entradas pelo teclado, utilizaremos a função input. Devemos levar uma variável a receber o valor capturado pelo input.

In [ ]:
nome = input()
print('Olá', nome)

elizangela
Olá elizangela

###O programa acima captura o nome do usuário e em seguida mostra a mensagem **"olá"** seguida do nome do usuário. Note que o programa fica parado em uma tela em branco com um cursor piscando aguardando a digitação pelo usuário. Isso pode ser confuso para o usuário, que não sabe o que o programa está esperando. Por isso, dentro dos parênteses do input podemos colocar uma mensagem simples informando o que o programa gostaria que ele fizesse:

In [ ]:
nome = input('Qual é o seu nome?')
print('Olá', nome)

# A leitura é feita atraves da palavras "input" e Por padrão o input recebe str

Qual é o seu nome?Elizangela
Olá Elizangela

#**Escrita de dados**

### A escrita de dados não é nada mais que as **Saídas**. Chamamos de saídas do nosso programa todos os dados que são gerados pelo programa e serão fornecidos para o usuário. A função de saída em tela no Python é o print. Colocamos entre parênteses o dado que queremos que apareça.

###**print('olá mundo!')**, exibe a frase 'olá mundo' na telaOs dados a serem exibidos não precisam ser valores constantes, como a frase fixa acima. Eles podem ser variáveis:

In [ ]:
idade = 20
print(idade)

20

###Note que quando usamos aspas, o Python trata o valor como uma string, um texto literal. Quando não usamos aspas, o Python irá considerar que aquele é o nome de uma variável e irá acessá-la para buscar seu valor.

###Podemos exibir múltiplos dados em um print. Para isso, basta separá-los por vírgula e eles irão aparecer na tela na mesma ordem que apareceram no código:

In [ ]:
nome = 'Mario'
linguagem = 'Python'
print('Oi, eu sou o', nome, 'e eu programo em', linguagem)

Oi, eu sou o Mario e eu programo em Python

```
Resultado na tela:
Oi, eu sou o Mario e eu programo em Python
```
###Note que os dados aparecem em tela separados por um espaço automaticamente. Dois prints sucessivos também possuem uma quebra de linha entre eles. Você pode passar as opções sep e end dentro de seu print para especificar diferentes comportamentos. Exemplo:

In [ ]:

print('Oi, eu sou o', nome, sep='@', end='***')
print('Eu programo em', linguagem, sep='@')

Oi, eu sou o@Mario***Eu programo em@Python

```
Resultado na tela:
Oi, eu sou o@Mario***Eu programo em@Python
```
#####**Dica:** caso você ache confuso separar os dados por vírgulas, você pode alternativamente utilizar uma **f-string**. Não entraremos em detalhes agora, mas o funcionamento básico é simples: coloque um f antes de abrir aspas, e dentro do texto você pode colocar o nome das variáveis entre chaves. o print abaixo terá o mesmo resultado que o exemplo anterior:

In [ ]:
nome = "Mario"
linguagem = "Python"
print(f"Oi, eu sou o {nome} e eu programo em {linguagem}")

Oi, eu sou o Mario e eu programo em Python

In [ ]:
# veja outro exemplo utilizando f-string , lembrando que a escrita se dar por meio da palavra "print"- imprimir

print(f"O nome dele é {nome}! ")

O nome dele é Mario!

##**Mudanças de Tipos**

In [ ]:
a = 2

a = str(a)
type(a)

str

In [ ]:
b = '2'

b = int(b)
type(b)

int

In [ ]:
d = 3
d = float(d)
d

3.0

#**Operações Aritméticas**

  ### As funções aritmeticas podem ser adição, multiplicação, subtração, divisão, potencia, resto da divisão e divisão por inteiro.
  ### veja os operadores aceitos:

- **Soma**: +
- **Subtração**: -
- **Multiplicação**: *
- **Divisão**: /
- **Divisão inteira**: //
- **Resto da divisão**: %
- **Potência**: **

In [ ]:
# Adição

a =20
b =6
a+b

26

In [ ]:
# subtração

a-b

14

In [ ]:
# multiplicação

a*b

120

In [ ]:
# divisão

a/b

3.3333333333333335

In [ ]:
# divisão inteira

a//b

3

In [ ]:
# resto da divisão

a%b

2

In [ ]:
# potencia

a**b

64000000

#**Exercicios**

###**Faça um Programa que peça dois números e imprima a soma**

In [ ]:
num1 = int(input("Informe o primeiro número: "))
num2 = int(input("Informe o segundo número: "))

soma = num1 + num2
print(f'\nA Soma dos números informados é {soma}')

Informe o primeiro número: 12
Informe o segundo número: 12

A Soma dos números informados é 24

###**Faça um Programa que calcule a área de um quadrado, em seguida mostre o dobro desta área para o usuário.**

In [ ]:
quadrado = int(input("Informe o lado do quadrado para calcular sua área total: "))

area = (quadrado**2)*2

print(f'O dobro da área total do quadrado é{area: .2f} m2')

Informe o lado do quadrado para calcular sua área total: 10
O dobro da área total do quadrado é 200.00 m2

###**Tendo como dados de entrada a altura de uma pessoa, construa um algoritmo que calcule seu peso ideal, usando a seguinte fórmula: (72.7*altura) - 58**

In [ ]:
altura = float(input("Informe a sua altura: "))

peso_ideal = (72.7*altura) - 58

print(f'\nO peso ideal é:{peso_ideal: .2f}')

Informe a sua altura: 1.69

O peso ideal é: 64.86

###**Faça um Programa que converta metros para centímetros**

In [ ]:
altura = float(input("Informe a sua altura em metros: "))

altura = altura*100

print(f"A sua altura em centimetros é {altura}")

Informe a sua altura em metros: 1.69
A sua altura em centimetros é 169.0

###**Resolva a seguinte expressão numérica: 1440 : { 30 . [ 20 + ( 49 - 35 ) . 2 ] }**